body {
background-color: white;
background-image: url(  ../Imágenes/fondito.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position:50% 50%;
}
.container-boton {
  background-color: # 2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0,3s;
}
.boton {
  width: 85px;
  transition: ease 1s;
}
@keyframes efecto{
  0% {
    box-shadow: 0 0 0 0  rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px  rgba(0, 0, 0, 0);
  }
}

header h1 {
  font-size: 48px;
  color: #fa0215;
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
  padding: 20px;
  margin-top: 15px;
}
nav {
  padding: 10px;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}
.links {
  display: flex;
  position: fixed;
  z-index: 999;
  transition: ease 0.3s;
}
.olla1 {
  width: 50px;
  height: 50px;
}
.olla2 {
  width: 50px;
  height: 50px;
}
.olla3 {
  width: 50px;
  height: 50px;
}
.olla4 {
  width: 50px;
  height: 50px;
}
.links a:hover {
  transform: scale(1.1);
  transition: 0,3s;
}

main {
  margin: 10%;
  margin-top: 0;
}
section {
  margin: 10%;
  margin-top: 0;
}
.subtítulos h2{
text-align: center;
font-size: 40px;
color: greenyellow;
padding: 40px;
}
.subtítulos h3{
  text-align: center;
  font-size: 32px;
  color: greenyellow;
}
.imágen {
  padding: 40px;
  display: flex;
  justify-content: center;
}
.imágen img {
  width: 800px;
  height: auto;
  border-radius: 50%;
}
.audio {
  padding: 30px;
  display: flex;
  justify-content: center;
}
h3 {
  color: #fa0215;
  text-align: center;
  font-size: 36px;
  text-decoration: underline;
}
h4 {
  color: orange;
  font-size: 36px;
  text-decoration: underline;
  text-align: center;
}
p {
  color: greenyellow;
  font-size: 26px;
  text-align: center;
}
.mapayweb {
  display: flex;
  justify-content: space-around;
}
.mapa {
  width: 300px;
  height: 500px;
  border-radius: 10%;
}
.webtucumán {
  width: 300px;
  height: 500px;
  border-radius: 10%;
}
.subt {
  display: flex;
  justify-content: center;
}
.subt h1 {
  color: #fa0215;
  text-align: center;
  font-size: 36px;
  text-decoration: underline;
}
.listas {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: greenyellow
}
.preparación {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: greenyellow
}
span {
  width: 60%;
  float: left;
}
.video-youtube {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.video-youtube iframe {
  width: 700px;
  height: 400px;
}
aside {
  width: 40%;
  float: left;
}
.web-add {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.dolarhoy {
  width: 400px;
  height: 600px;
}
footer{
  clear: both;
}
h5 {
  font-size: 20px;
  color: greenyellow;
  text-align: center;
}
.redes {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.redes a:hover {
  transform: scale(1.1);
  transition: 0,3s;
}
.face {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.insta {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.twit {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
